# Minimal requirements for the loan MLOps framework
pandas>=1.5.0
numpy>=1.21.0
matplotlib>=3.5.0
seaborn>=0.11.0
scikit-learn>=1.1.0
xgboost>=1.6.0
shap>=0.41.0
torch
joblib>=1.1.0
scipy>=1.7.0
plotly>=5.0.0
imbalanced-learn>=0.9.0
lightgbm
beautifulsoup4
# Backend & Database
fastapi>=0.95.0
uvicorn>=0.22.0
python-multipart>=0.0.6
supabase>=1.0.3
python-jose[cryptography]>=3.3.0
python-dotenv>=1.0.0
pydantic[email]>=1.10.0
xgboost
requests
langchain
langchain-community
langchain-openai
langgraph
sentence-transformers
langchain-huggingface
